<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <div>이름:<span><%= userInfo.id %></span></div>
    <div>성별:<span><%= userInfo.sexual %></span></div>
    <div>생년월일:<span><%= userInfo.date %></span></div>
    <div>
      <div>
        관심사:<span><%= userInfo.year %></span>년<span
          ><%= userInfo.month %></span
        >월<span><%= userInfo.date %></span>일
      </div>
    </div>

    <div>좋아하하는 색깔: <span><%= userInfo.color %></span></div>
    <div>좋아하는 숫자: <span><%= userInfo.number %></span></div>
    <br />
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
